<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mis Entradas</title>
</head>
<body>
    <nav>
        <a th:href="@{/eventos}">Eventos</a>
        <a sec:authorize="hasRole('ADMIN')" th:href="@{/admin/eventos}">Panel admin</a>
        <a sec:authorize="isAuthenticated()" th:href="@{/logout}">Cerrar sesión</a>
    </nav>

    <h1>Mis entradas</h1>
    <p th:if="${#lists.isEmpty(entradas)}" style="color:red;">No tienes entradas</p>
    <ul th:if="${!#lists.isEmpty(entradas)}">
        <li th:each="entrada : ${entradas}">
            <strong th:text="${entrada.qrToken}">Token entrada</strong>
                <span> - </span>
                <span th:text="${entrada.estado}">Estado</span>
                <span th:text="${entrada.estadoPago}">Estado del pago</span>
                <span th:text="${entrada.compradaEn}">Comprada en</span>
                <span th:text="${entrada.asistente.evento.nombre}">Nombre evento</span>
        </li>
    </ul>
</body>
</html>
